<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/src/styles/base.css">
    <link rel="stylesheet" href="/src/styles/users.css">
    <script src="/src/scripts/users.js"></script>
</head>
<body>
    <div class="header">
        <img src="/src/pics/committeeLogo.png">
        <h1>Research Committee Curriculum Vitae</h1>
    </div>
    <div class="portrait">
        <h1>Rotate your phone/tablet! </h1>
    </div>
    <header>
        <a href="/" class="logo">
            <img src="/src/pics/committeeLogo.png" class="logoImage">
            <div class="logoText">
                <p>Research</p>
                <p>Committee</p>
            </div>
        </a>
        
        <div class="itemsContainer">
            <div class="login" ><a href="/login">Login</a></div>
            <div class="update"><a href="/update">Update</a></div>
            <div class="about"><a href="/about">About</a></div>
        </div>
        <div class="signIn"><a href="/signin">Sign-In</a></div>
    </header>
    <main>
        <div class="demographic">
            <img src="<%= image %>" alt="profile photo">
            <div class="infoContainer">
                <p class="info name"><%= title %></p>
                <p class="info stuCode"><%= stuCode %></p>
                <p class="info stuCode"><%= role %></p>
            </div>
        </div>
        <div class="container">
            <div class="skills">
                <h1>Skills: </h1>
                <% Object.entries(skills).forEach(([key, val]) => { %>
                    <p><%= val %></p>
                <% }) %>
            </div>

            <div class="research">
                <h1>Researchs: </h1>
                <% Object.entries(research).forEach(([key, val]) => { %>
                    <p><%= val %></p>
                <% }) %>
            </div>

            <div class="executive">
                <h1>Executives: </h1>
                <% Object.entries(executive).forEach(([key, val]) => { %>
                    <p><%= val %></p>
                <% }) %>
            </div>
            
            <div class="activities">
                <h1>Activities: </h1>
                <% Object.entries(activities).forEach(([key, val]) => { %>
                    <p><%= val %></p>
                <% }) %>
            </div>
        </div>
    </main>
</body>
</html>